@model Factory.Models.Engineer

<h2>Are you sure you want to remove this engineer?: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  <button type="submit">Delete Engineer</button>
}